algorithm:
  name: da3c

  input:
    shape: [42, 42]
    history: 4
    use_convolutions: true

  output:
    continuous: false
    action_size: 4                # action size for the given environment

  hidden_sizes: [256]
  batch_size: 5                   # local loop size for one episode

  use_icm: true
  use_lstm: true                  # to use LSTM instead of FF, set to the True
  max_global_step: 1e8            # amount of maximum global steps to pass through the training

  initial_learning_rate: 1e-4
  entropy_beta: 0.01              # entropy regularization constant
  rewards_gamma: 0.99             # rewards discount factor

  RMSProp:
    decay: 0.99
    epsilon: 0.1
  gradients_norm_clipping: 40.   # 40.0 - for vanilla A3C & similar

  ICM:
    alpha: 0.1
    beta: 0.2
